* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* p,
h2 {
    margin: 100px;
    padding: 100px;
} */

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;

}

.message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

img {
    width: 120px;
    height: auto;
}

.inputtext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

input {
    width: 250px;
}

.inputarea {
    background-color: rgb(72, 197, 255);
    margin: 10px;
    padding: 30px;
    width: 30%;
}